<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a  target="_blank" href="{{ url_for('hello_world') }}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a  target="_blank" href="#" class="nav-link px-2 text-muted">Products</a></li>
        
        <li class="nav-item"><a target="_blank" href="{{ url_for('contact') }}" class="nav-link px-2 text-muted">Contact</a></li>
        <li class="nav-item"><a  target="_blank" href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">ADDRESS:<br>
        Sahaj Kunj 
         Mukul Vihar Phase II<br>
         Talli Bamori, Haldwani 26313<br>
         P.No.: 9318745354<br>
        Email: snehfoundation2024@gmail.com
      </p>
      <p class="text-center text-muted">&copy; SNEH Foundation</p>
    </footer>
</div>